@charset "UTF-8";

/* Navigation bar starts*/

.navbar-nav {
	float: right !important;
}

.logo_mobile {
	display: none;
}

.mobile_side_menu {
	width: 100%;
}

.close {
	display: none;
}

img.a2 {
	vertical-align: middle !important;
	border-style: none !important;
}

.main-header {
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, .12);
}

.main-header .logo {
	float: left;
}

.main-header .logo img {
	height: 40px;
}

.main-header .navbar-expand-lg .navbar-nav .nav-link {
	padding: 18px 15px;
	line-height: 10px;
	font-size: 12px;
	font-weight: 600;
	color: #515151;
	text-transform: uppercase;
}

.main-header .navbar {
	padding: 7px 0;
}

.header-transparent {
	position: absolute;
	z-index: 9;
	width: 100%;
	border-bottom: 1px solid rgba(220, 220, 220, .2);
}

.sp a {
	background: #e52e4b;
	padding: 10px 20px !important;
	margin: 6px 0;
	border-radius: 30px;
	color: #fff !important;
}

@media all and (min-width: 992px) {
	.sticky-header {
		position: fixed;
		background: #fff;
		top: 0;
		z-index: 999;
		width: 100%;
		border-bottom: 1px solid rgba(220, 220, 220, .2);
	}
	.sticky-header .nav-link::after {
		display: none !important;
	}
	.sticky-header .navbar-expand-lg .navbar-nav .nav-link {
		color: #727276;
	}
}

@media (max-width: 992px) {
	.navbar-light .navbar-toggler {
		border: none;
		margin-right: 7px;
		font-size: 20px;
		font-weight: 100;
	}
	.navbar-toggler {
		padding: 0;
		width: 35px;
		height: 35px;
		font-size: 1rem;
		border-radius: 0;
		outline: 0;
	}
	.header-transparent {
		position: static;
		z-index: 9;
		width: 100%;
	}
	.main-header .logo {
		margin-right: 0;
		padding: 15px 0;
	}
	.main-header .navbar-expand-lg .navbar-nav .nav-link {
		padding: 10px 15px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
	.a2 {
		display: none;
	}
}

@media (max-width: 768px) {
	.main-header .navbar {
		padding: 0;
	}
	.main-header {
		box-shadow: 0 0 8px 0 rgba(0, 0, 0, .12);
	}
	.close {
		cursor: pointer;
		display: flex;
		position: absolute;
		right: 15px;
		top: 50%;
		margin-top: -12px;
		border-radius: 22px;
		font-size: 24px;
	}
	.mobile_side_menu .nav > li {
		border-bottom: 1px solid #d8d8d8;
		padding: 3px 10px;
	}
	.mobile_side_menu {
		-webkit-transform: translate3d(-260px, 0, 0);
		-ms-transform: translate3d(-260px, 0, 0);
		transition: transform .2s cubic-bezier(.16, .68, .43, .99);
		transform: translate3d(-260px, 0, 0);
		position: fixed;
		width: 260px;
		height: 100%;
		top: 0;
		z-index: 9999;
		background: #fbfbfb;
		overflow: auto;
		left: 0;
	}
	.mobile_menu .mobile_side_menu {
		transform: translate3d(0, 0, 0);
	}
	.mobile_menu .site-overlay {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 9998;
		background-color: rgba(0, 0, 0, .5);
		-webkit-animation: .5s fade;
		animation: .5s fade;
	}
	.navbar-toggler {
		z-index: 9;
		position: absolute !important;
	}
	.logo_mobile {
		position: relative;
		display: block;
		padding: 13px 20px;
		background: #ededed;
	}
	.logo_mobile a {
		display: flex;
	}
	.navbar-light .navbar-toggler {
		right: 0;
	}
	ul.navbar-nav.ml-auto {
		padding: 5px 0;
		float: none !important;
	}
	li.nav-item {
		padding: 5px;
		border-bottom: 1px solid #e0e0e0;
	}
	.sp a {
		background: #e52e30 !important;
		width: 100%;
	}
	.sp {
		padding: 5px 20px !important;
	}
	.main-header .navbar-expand-lg .navbar-nav .nav-link {
		font-size: 14px;
	}
}

/* Navigation bar ends */

/* banner part starts here */
.upperpart {
	background-color: rgba(48, 54, 64, .54);
	opacity: .9;
}

.curve {
	border-radius: 30px;
	width: 257.4;
	height: 47.45px;
	padding: 0%;
}

.uncurve {
	border-radius: 0px;
	height: 54px;
	width: 390px;
}

.listnowbtn {
	background-color: red;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	line-height: 1px;
	width: 150px;
	height: 54px;
}

.needhelpbtn {
	margin-left: 35%;
	height: 47.45px;
	width: 257.4px;
	font-size: 18px;
	background-color: #008489;
}

.banner {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	background-color: rgba(48, 54, 64, .54);
}

.banner::after {
	content: '';
	position: absolute;
	z-index: -1;
	left: 0;
	bottom: 0;
}

.banner::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0) scale(1.0, 1.0);
	-moz-transform: translateZ(0) scale(1.0, 1.0);
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
	-ms-transform: translateZ(0) scale(1.0, 1.0);
	-o-transform: translateZ(0) scale(1.0, 1.0);
	background-image: url(images/background.jpg);
	background-size: cover;
	-webkit-background-size: cover;
	background-attachment: fixed;
	animation: increase 30s linear 100ms 5;
	animation: name duration timing-function delay iteration-count direction fill-mode;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	z-index: -2;
}

@keyframes increase {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1.2);
	}
	75% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.heading {
	color: white;
	position: absolute;
	top: 10%;
	left: 50%;
	width: 1110px;
	line-height: 64px;
}

.centered {
	color: white;
	font-family: sans-serif;
	width: 1110px;
	font-size: 60px;
	height: 60px;
	text-align: center;
	margin-bottom: 30px;
}

.containt {
	position: absolute;
	top: 45%;
	left: 30%;
	margin-left: -184px;
}

.form-row {
	height: 119px;
	width: 950px;
	align-content: center;
	margin-left: 80px;
}

/* Banner part ends here  */
/* logo and flex part start here  */
.containt-areal {
	height: 200px;
	width: 1519.2px;
	margin: 50px 0px;
}
.container-boxl {
	width: 1110px;
	height: 200px;
	margin: 0px auto;
}
.row-arrangel {
	width: 1140px;
	height: 200px;
	margin: 0px -15px;
	display: flex;
}
.flex-boxl {
	display: flex;
	flex-wrap: wrap;
}
.logo-boxl {
	height: 200px;
	width: 255px;
	padding: 0px 15px;
	background-color: #e52e4b;
	margin-left: 15px;
}
.logol {
	height: 52.933px;
	width: 255px;
	margin-bottom: 20px;
	margin-left: 60px;
	margin-top: 50px;
}
.image-logol {
	width: 108px;
	height: 45px;
}
.text-logol {
	width: 255px;
	height: 35px;
	font-size: 18px;
	line-height: 35px;
	font-weight: 600;
	margin-top: 30px;
	margin-right: -15px;
	margin-left: -15px;
	color: white;
	text-align: center;
}
/* logo and flex part end here */
/* rajaram and dinesh thing start here  */
.ram-section {
	width: 1519.2px;
	height: 377.25;
	margin-bottom: 30px;
	position: relative;
}
.container-ram {
	width: 1110px;
	height: 377.25px;
	padding: 0px 15px;
	margin: 0px auto;
}
.row-ram {
	height: 310px;
	width: 1140px;
	margin: 0px -15px;
	display: flex;
	flex-wrap: wrap;
}
.flex-ram {
	width: 540px;
	height: 310px;
	padding: 0px 15px;
	flex: 0 0 50%;
	max-width: 50%;
}
.image-ram {
	width: 540px;
	height: 310px;
	position: relative;
	background-size: cover;
	background-position: center;
}
.text-ram {
	width: 480px;
	height: 61.25px;
	padding: 10px 30px;
}
.right-din {
	text-align: right !important;
}
.tag-line-ram {
	text-align: center;
	font-size: 25px;
	margin: 41px 0;
	font-weight: 700;
	color: #716d6e;
	width: 1110px;
	height: 26.25px;
}
.phone {
	width: 121.533;
	height: 250.183;
	position: absolute;
	top: 45px;
	left: 47%;
	width: 8%;
}

/* rajaram and dinesh thing end here  */
/* Instruction part start here  */

.instruction-area {
	width: 1519.2px;
	height: 393.2px;
}
.ins-container {
	width: 1110px;
	height: 393.2px;
	padding: 0px 15px;
	margin: 0px auto;
}
.ins-text {
	width: 1110px;
	height: 60px;
	position: relative;
	margin-bottom: -80px;
	text-align: center;
	font-size: 50px;
	font-weight: 700;
	line-height: 60px;
}
.ins-text::after {
	position: absolute;
	content: "";
	background: red;
	width: 100px;
	height: 2.5px;
	left: 50%;
	margin-left: -50px;
	bottom: -20px;
}
.ins-row {
	width: 1140px;
	height: 253.2px;
	margin: 0px -15px;
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
	margin-top: 150px;
}
.ins-flex {
	width: 350px;
	height: 253.2px;
	padding: 0px 15px;
	flex: 0 0 33.333333%;
}
.ins-listing-info {
	width: 350px;
	height: 228.2px;
	margin-bottom: 25px;
}
.icon {
	width: 350px;
	height: 48.2px;
	margin-bottom: 20px;
}
.icon i {
	border: 2px solid #444;
	padding: 15px;
	border-radius: 50px;
	color: #444;
}
/* Instruction part end here  */
/* euipment images and flex part start here   */

.content-area-7 {
	padding: 40px 0 70px;
}
.main-title {
	margin-bottom: 50px;
	text-align: center;
}

.main-title h1 {
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 15px;
}

.main-title h2 {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 5px;
}

.main-title p {
	font-size: 18px;
	margin-bottom: 0;
}

.content-area-7 {
	padding: 40px 0 70px;
}

.categories .col-pad {
	padding: 0 7.5px;
}

.category {
	cursor: pointer;
	overflow: hidden;
	position: relative;
	text-align: center;
	margin: 0 0 15px;
}

.category:hover:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	content: "";
	background-color: #4d4d4d;
	opacity: .4;
	z-index: -11;
	transition: .3s ease-out;
}

.category_bg_box {
	transition: all .35s;
	border-radius: 3px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 220px;
}

.category_long_bg {
	height: 455px;
}

.category:hover .category_bg_box {
	transform: scale(1.06);
	transition: transform .35s ease-out;
}

.category .category-overlay {
	border-radius: 3px;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: background-color .15s linear;
	background-color: rgba(36, 42, 53, .5);
}

.category-subtitle {
	white-space: nowrap;
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 1px;
}

.category-content {
	display: block;
	left: 50%;
	position: absolute;
	top: 35px;
	transform: translateX(-50%) translateY(-35%);
	transition: all .15s linear;
	width: 90%;
	text-align: left;
}

.category-content h3 {
	margin-bottom: 5px;
	text-align: left;
	font-weight: 100;
}

.category-content h3 a {
	color: #fff;
	font-size: 22px;
}

.category:hover .category-view-more {
	visibility: visible;
}

@media (max-width: 992px) {
	.main-title {
		margin-bottom: 40px;
	}

	.main-title h1 {
		margin-bottom: 10px;
		font-size: 26px;
	}
}

@media (max-width: 768px) {
	.content-area-7 {
		padding: 40px 0;
	}

	.category-content h3.category-title {
		text-align: center !important;
	}

	.category-content {
		display: block;
		left: 0;
		position: absolute;
		top: 40%;
		transform: none;
		transition: all .15s linear;
		width: 100%;
	}

	.main-title {
		margin-bottom: 40px;
	}
}
/* euipment images and flex part end here   */
/* FAQ's part start here  */

/* FAQ's part ends here  */
/* Footer part start here  */
.facebook {
	background-position: 0 -135px;
	width: 51px;
	height: 51px;
}

.linkdin {
	background-position: -51px -135px;
	width: 51px;
	height: 51px;
}

.social ul li {
	display: inline-block;
	margin: 0 5px;
}

.social ul li img {
	width: 50px;
}

.social ul {
	padding: 0;
	list-style-type: none;
}

footer {
	background: #efefef;
	text-align: center;
	padding: 20px 0;
}

.logo_footer {
	padding-bottom: 20px;
}

.social {
	margin-bottom: 20px;
	margin-top: 5px;
}

.foot_ul {
	list-style: disc;
	color: #2c3e50;
}

.foot_row {
	text-align: left;
}

@media (max-width: 768px) {
	.foot_ul {
		list-style: none;
	}

	.foot_row {
		text-align: center;
	}

	h6 {
		margin-top: 15px;
	}
}
/* Footer part end here  */
